body {
  font-family: "Lexend Deca";
  font-weight: normal;
  font-style: normal;
  font-size: large;
}
a {
  text-decoration: none;
  color: #343434;
  padding: 2px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  max-width: 800px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .navContent {
  width: 30%;

}
.navItem {
  font-family: "Lexend Deca";
  font-weight: normal;
  font-style: normal;
  font-size: large;
}
.navItem a {
  text-decoration: none;
  padding: 2px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countryList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.countryCard {
  border: 1px solid gainsboro;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:  20px 40px;
  min-height: 10rem;
  max-width: 25rem;
  width: calc(100% / 3 - 30px);
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
}
.countryCardBody {
  text-align: center;
}
.countryCardCommon {
  font-size: medium;
  color: #3434344e;
}
.input {
  margin: 40px auto;
  width: 800px;
  
}
.inputtext {
  width: 100%;
  padding: 10px 5px;
  border-radius: 10px;
  border:1px solid gainsboro;
}